#timer
  %table
    %tr
      %td.fix-width-2-char.l-prm
        .time-block
          .digits.years
      %td.fix-width-3-char
        .time-block
          .digits.days
      %td.fix-width-3-char
        .time-block
          .digits.hours
      %td.fix-width-3-char
        .time-block
          .digits.minutes
      %td.fix-width-3-char
        .time-block
          .digits.seconds
      %td.fix-width-5-char
        .time-block
          .milliseconds

= content_for :javascript do
  :coffeescript
    $(document).ready initializeTimer
