html,
body,
.background {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'News Cycle', sans-serif;
  text-align: center;
}

img {
  image-orientation: from-image;
  margin: auto auto;
  height: 100%;
}

@media (max-width: 800px) {
  .background {
    background-color: black;
  }
}

.background {
  position: fixed;
  background-color: black;

  &.transitions-enabled {
    transition: opacity 1s ease-in-out;
  }
}

.top-background {
  z-index: 0;
}

.bottom-background {
  z-index: -1;
}

.main-content {
  padding-top: 20px;
  z-index: 999;
  position: relative;
}
