body.home {
  #timer {
    color: white;
    font-size: 60px;
    font-size: 3.5vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 6px 0 10px 0;

    table {
      margin: auto;

      td {
        padding-left: 10px;

        &.fix-width-2-char {
          max-width: $char-width-2;
          min-width: $char-width-2;
          width: $char-width-2;
        }

        &.fix-width-3-char {
          max-width: $char-width-3;
          min-width: $char-width-3;
          width: $char-width-3;
        }

        &.fix-width-5-char {
          max-width: $char-width-5;
          min-width: $char-width-5;
          width: $char-width-5;
        }

        .time-block {
          float: right;
          padding: 0 10px;
        }
      }
    }
  }
}
