// Display
.l-block {
  display: block;
}

.l-inline {
  display: inline;
}

.l-inline-block {
  display: inline-block;
}

// Float
.l-float-right {
  float: right;
}

.l-float-left {
  float: left;
}

.l-clear-float {
  clear: both;
}

// Margin
.l-mxs {
  margin: $extra-small;
}

.l-ms {
  margin: $small;
}

.l-mm {
  margin: $medium;
}

.l-ml {
  margin: $large;
}

.l-mxl {
  margin: $extra-large;
}

// Margin-Top
.l-mtxs {
  margin-top: $extra-small;
}

.l-mts {
  margin-top: $small;
}

.l-mtm {
  margin-top: $medium;
}

.l-mtl {
  margin-top: $large;
}

.l-mtxl {
  margin-top: $extra-large;
}

// Margin-Bottom
.l-mbxs {
  margin-bottom: $extra-small;
}

.l-mbs {
  margin-bottom: $small;
}

.l-mbm {
  margin-bottom: $medium;
}

.l-mbl {
  margin-bottom: $large;
}

.l-mbxl {
  margin-bottom: $extra-large;
}

// Margin-Left
.l-mlxs {
  margin-left: $extra-small;
}

.l-mls {
  margin-left: $small;
}

.l-mlm {
  margin-left: $medium;
}

.l-mll {
  margin-left: $large;
}

.l-mlxl {
  margin-left: $extra-large;
}

// Margin-Right
.l-mrxs {
  margin-right: $extra-small;
}

.l-mrs {
  margin-right: $small;
}

.l-mrm {
  margin-right: $medium;
}

.l-mrl {
  margin-right: $large;
}

.l-mrxl {
  margin-right: $extra-large;
}

// Padding
.l-pxs {
  padding: $extra-small;
}

.l-ps {
  padding: $small;
}

.l-pm {
  padding: $medium;
}

.l-pl {
  padding: $large;
}

.l-pxl {
  padding: $extra-large;
}

// Padding-Top
.l-ptxs {
  padding-top: $extra-small;
}

.l-pts {
  padding-top: $small;
}

.l-ptm {
  padding-top: $medium;
}

.l-ptl {
  padding-top: $large;
}

.l-ptxl {
  padding-top: $extra-large;
}

// Padding-Bottom
.l-pbxs {
  padding-bottom: $extra-small;
}

.l-pbs {
  padding-bottom: $small;
}

.l-pbm {
  padding-bottom: $medium;
}

.l-pbl {
  padding-bottom: $large;
}

.l-pbxl {
  padding-bottom: $extra-large;
}

// Padding-Left
.l-plxs {
  padding-left: $extra-small;
}

.l-pls {
  padding-left: $small;
}

.l-plm {
  padding-left: $medium;
}

.l-pll {
  padding-left: $large;
}

.l-plxl {
  padding-left: $extra-large;
}

// Padding-Right
.l-prxs {
  padding-right: $extra-small;
}

.l-prs {
  padding-right: $small;
}

.l-prm {
  padding-right: $medium;
}

.l-prl {
  padding-right: $large;
}

.l-prxl {
  padding-right: $extra-large;
}
