/* Sizes
==========================*/
$extra-small: 5px;
$small: 10px;
$medium: 20px;
$large: 30px;
$extra-large: 40px;

/* Colors
==========================*/
$black: #3a3a3a;
$dark-gray: #4d4a4d;
$dark-green: #55970c;
$gray: #ecebea;
$green: #8cbc2e;
$red: #f44c1e;

/* Font
==========================*/
$font-bold: 700;
$font-light: 300;
$font-medium: 600;
$font-regular: 400;

/* Misc
==========================*/
$char-width-2: 3.6ch;
$char-width-3: 4.2ch;
$char-width-5: 6ch;
$total-num-photos: 1153;
$asset-storage-base-path: 'https://f002.backblazeb2.com/file/nm-portsmouth-rain-2019/'
