%head
  %title . .... ...
  = tag 'meta', 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'
  = tag 'meta', content: 'width=device-width, initial-scale=1.0', name: 'viewport'
  = tag 'meta', name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no'
  = csrf_meta_tags
  = render 'layouts/safari_config_tags'
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
