= tag 'meta', name: 'apple-mobile-web-app-status-bar-style', content: 'black'
= tag 'meta', name: 'apple-mobile-web-app-capable', content: 'yes'
= tag 'meta', name: 'mobile-web-app-capable', content: 'yes'

/ TODO: uncomment and add appropriate image files
/ = ios_homescreen_icon_tag 'touch-icon-iphone.png'
/ = ios_homescreen_icon_tag 'touch-icon-ipad.png', '76x76'
/ = ios_homescreen_icon_tag 'touch-icon-iphone-retina.png', '120x120'
/ = ios_homescreen_icon_tag 'touch-icon-ipad-retina.png', '152x152'
/ = ios_homescreen_icon_tag 'touch-icon-iphone-6-plus.png', '152x152'
