!!! 5
%html
  = render 'layouts/head'

  %body{ class: params[:controller] }
    .top-background.background.transitions-enabled
      = image_tag 'https://f002.backblazeb2.com/file/nm-portsmouth-rain-2019/background_0.jpg'
    .bottom-background.background
      = image_tag 'https://f002.backblazeb2.com/file/nm-portsmouth-rain-2019/background_10.jpg'
    .main-content.container
      = yield

    = render 'layouts/tail'
